.clearfix::after{
	content: "";
	display: table;	
	clear: both;	
}
body{
	padding: 0;
	margin: 0;
}
.menu{
	background: orange;	
  	text-align: center;
  	height: 50px;
  
}
.menu ul{
	display: inline-block;
	list-style-type: none;
		margin: 0;
}
.menu ul li{
	float: left;
	width: 120px;
	height: 50px;
	line-height: 50px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);	
}
.menu ul li:first-child {
	border-left: solid 1px rgba(0, 0, 0, 0.2);	
}
.menu li a:hover{	
	color: aquamarine;
}
.menu li a{	
   text-align: left;
	display: inline-block;
	text-decoration: none;
	color: #000;
}
